:root {
    --primary-color: #CD5888;
    --primary-color-light: #dc719d;
    --primary-color-25: #cd588936;
    --secondary-color: #913175;
    --secondary-color-25: #89131736;
    --tertiary-color: #1e1e1e;
    --tertiary-color-50: #1e1e1eb3;
    --quaternary-color: #53beec;
    --quaternary-color-75: #53beecc1;
    --quaternary-color-50: #53beec9f;
    --text-color: #fdfcfe;
    --background-color: #121212;
    --secondary-background-color: #ffffff02;
    --link-color: #a484d4;
    --border-color: lightgray;
    --ripple-color: #8c65cc;
}

/* Center the content on the screen */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* font-family: Arial, sans-serif; */
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

.container {
    background-color: var(--secondary-background-color);
    padding: 55px 15px;
    border-radius: 1rem;
}

h1 {
    color: var(--text-color);
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}

.guide {
    text-align: left;
    width: fit-content;
    display: block;
    margin: 0 auto 25px;
}

.row-block {
    margin-bottom: 5px;
    border-radius: 6px;

}

.input-group-text {
    color: white !important;
    border: none;
    border-radius: 8px;
    background-color: var(--tertiary-color) !important;
}

.form-control {
    color: var(--text-color) !important;
    border: none !important;
    border-radius: 8px;
    background-color: var(--tertiary-color-50) !important;
}

.btn-custom {
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    border: none;
    width: 150px;
    font-size: 22px;
    padding: 6px;
    text-transform: uppercase;
}

.btn-custom:hover {
    color: var(--text-color);
    background-color: var(--primary-color-light);
}

.calculate {
    background-color: var(--quaternary-color-50);
    box-shadow: 0 0 15px var(--quaternary-color-50);
    width: 40%;
    height: 250px;
    margin: 15px auto;
    display: block;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    animation: calculate infinite ease-in-out 2s;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
}

.calculate:hover {
    animation: calculate forwards ease-in-out 2s;
    background-color: var(--quaternary-color-75);
}

@keyframes calculate {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    30% {
        transform: scale(1);
    }

    40% {
        transform: scale(1);
        box-shadow: 0 0 15px var(--quaternary-color-50);
    }

    50% {
        transform: scale(1.04);
        box-shadow: 0 0 20px var(--quaternary-color-50);
    }

    55% {
        transform: scale(1.02);
        box-shadow: 0 0 10px var(--quaternary-color-50);
    }

    60% {
        transform: scale(1.03);
        box-shadow: 0 0 15px var(--quaternary-color-50);
    }

    70% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--quaternary-color);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

footer {
    background-color: var(--secondary-background-color);
    color: #fff;
    padding: 40px;
    text-align: center;
}

footer p {
    margin: 0 !important;
}